*{
  margin: 0;
}
body{
  background: black;
}

/* About me  */

.about-me-section {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.about-me-content {
  margin-right: 20px;
}

.about-me-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-me-content p {
  font-size: 1.2rem;
  color: #333;
}

.profile-picture img {
  width: 150px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(156, 156, 156, 0.1);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .about-me-content {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    width: 120px;
    height: 200px;
  }
}

/* Section projects */
.projects-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card{
  background: white;
  border-radius: 10px;
  border-color: #6c79ff; 
  border-width: 3px; 
  border-style: solid; 

  padding: 40px;
  margin: 20px;
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}

.image-profile img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  .project-card {
    width: 100%; 
    margin: 20px 0; 
  }

  .projects-container {
    flex-direction: column; 
  }
}

.footerHeader{
  background: white;

  padding-top: 10px;
  text-align: center;
}
.footerInfo{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info{
  padding: 10px;
}